@use "variables" as *;

main {
  section:first-child {
    background-color: $light;
    padding: 2rem;

    h2 {
      color: $primary;
      margin-bottom: 1.8rem;
    }

    li {
      color: $dark;
      margin-bottom: 0.5rem;
      list-style-type: none;
    }
  }
  section:last-child {
    background-color: $light;
    padding: 2rem;

    h2 {
      color: $primary;
      margin-bottom: 1.8rem;
    }
  }
}
