@use "variables" as *;

.card-artisan {
  background-color: $light;
  border: 1px solid $dark;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;

  h3 {
    color: $primary;
    margin-bottom: 0.5rem;
  }

  p {
    color: $dark;
    margin-bottom: 0.5rem;
  }
}
