@use "variables" as *;

@media (max-width: 768px) {
  header {
    flex-wrap: wrap;

    img {
      height: 40px;
    }

    input {
      width: 100%;
      order: 3;
    }
  }
}

header {
  img {
    height: 150px;
    width: auto;
  }
  background-color: $primary;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: white;
  font-size: 1.5rem;
  margin: 0;
}

// styles pour le bouton du menu
.menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

// styles pour barre de recherche
input,
textarea {
  background-color: white;
  color: $dark;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid $dark;
  border-radius: 0.5rem;
}

nav:last-child {
  background-color: $primary;
  padding: 1rem;

  a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 0.5rem 0;

    &:hover {
      text-decoration: none;
    }
  }
}

.d-md-none {
  background-color: $primary;
  width: 100%;
  padding: 1rem;

  a {
    color: white;
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
  }
}
